# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CPP05/ex00/Bureaucrat
CPP05/ex01/Bureaucrat
CPP05/ex02/Bureaucrat
CPP05/ex02/bender_shrubbery
CPP07/.vscode/settings.json
CPP08/.vscode/settings.json
CPP09/.vscode/launch.json
CPP09/.vscode/settings.json
CPP09/.vscode/tasks.json
